
<div class="p-10 md:flex md:space-x-8 space-y-4 md:space-y-0">
    <div class="flex-grow bg-white p-2">
        <a class="hover:underline" href="/dashboard/edit/{{id}}">
            <h3 class="text-4xl font-sans">{{title}}</h3>
        </a>
    </div>
    <div class="flex-grow bg-blue p-2">
        <small class="text-xsm font-mono">by {{user.name}} | {{date}}</small>
        <ul>
            <li>
                
            </li>
            <li>
                <small class="text-xsm font-mono">Rendered through dash-posts partial</small>
            </li>
            <li>
                <p id="sanity" class="py-4">{{post_body}}</p>
            </li> 
        </ul>
    </div>
</div>
