<article class="text-left font-sans leading-6">
    <h6 class="text-4xl font-sans">Each posts partial</h6>
    <h3 class="text-4xl font-sans">{{post.title}}</h3>
    <small class="text-xsm font-mono">{{post.name}} | {{post.post_date}}</small>
    <p id="sanity" class="py-4"> {{post_body}}</p>
        <ul>
            <li>{{user.name}}</li>
        </ul>   
</article>