<div class="w-1/3">
    <div id="post-header" class="justify-center items-center">
        <h4 class="font-mono text-center text-4xl">Login: rendered by homeRoutes</h4>
        <h4 class="font-mono text-center text-4xl"><a href="/blogpost/{{blogpost.id}}"</a>{{blogpost.title}}</a></h4>
        <small>By: {{blogpost.user.name}} at {{user.blogpost.date}}</small>
    </div>
    <div class="text-md">
        <p class="leading-md">
            {{user.name}}
        </p>
    </div>
    <form class="py-16">
        <label class="text-sm">Comment</label>
            <textarea id="post-comment" class="py-4"></textarea>

            <button id="official-comment" type="submit" class="bg-blue-500 text-white">Submit</button>
        
    </form>

    {{!-- To Do ::: Insert Partial For Comments Display --}}
</div>

{{!-- TODO ::: <script src="/js/comment.js"></script> --}}